.text {
  background-color: #eee;
}

.text__green1 {
  background: #3e3;
}
.text__green2 {
  background: #2a2;
}
.text__green3 {
  background: #151;
}

.text__red1 {
  background: #d26;
}
.text__red2 {
  background: #814;
}
.text__red3 {
  background: #402;
}

.windowWithText {
  border: 2px solid #22e;
  width: 400px;
  /* height: 200px; */
  background: #aaa;
  padding: 5px;
}